@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Shojumaru&display=swap');

body {
    background-image: url(tianshu-liu-SBK40fdKbAg-unsplash.jpg);
    background-size: cover;
    color: #1C2125;
}

main#container {
    border: 5px  groove #483C37;    
    background-image: linear-gradient(to bottom, #bc5e49c2 0%, #68372fc5 100%);
}

h1.titulo /*especifica tag com a classe*/ {
    color: #DED8CF;
    font-family: 'Shojumaru', cursive;
}

p.frase {
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
}

p.autor {
    color: #DED8CF;
    font-style: italic;
}